@model IEnumerable<Website.Models.ExperienceVM>

@{
    ViewData["Title"] = "Index";
}

<h1>João Gabriel Vasconcellos Godoy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearStart) - @Html.DisplayNameFor(model => model.YearEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionTitle) at @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionDescription)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearStart) -
                @if (item.CurrentJob)
                {
                <p>Current</p>
                }
                else
                {
                @Html.DisplayFor(modelItem => item.YearEnd);
                }

            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PositionTitle) at @Html.DisplayFor(modelItem => item.Employer)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.PositionDescription)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
